<br>
<div class="card-shadow pb-3 pl-3 pr-3 m-3">
  <div class="row">
    <div class="col" style="text-align: center">
      <br>
      <div class="subtitulo">Contrato:</div>
      <div class="titulo mb-3">
        {{ contratoP }}
      </div>
      <div class="nombre mb-3">
        {{ nombreP }}
      </div>
      <div class="subtitulo">Dirección:</div>
      <div class="res">
        {{ direccionP }}
      </div>
      <div class="res" style="margin-top: -4px">Col. {{ coloniaP }}</div>
      <div class="res mt-3">
        {{ giroP }}
      </div>
      <div class="subtitulo mt-3">Medidor:</div>
      <div class="res">
        {{ medidorP }}
      </div>
      <div class="subtitulo mt-3">Estatus:</div>
      <div>
        <div class="form-group">
          <div *ngIf="estatusP == 'Activo'; else elseBlock">
            <span style="font-weight: bold; color: #1ea672">
              <i class="fas fa-check-circle"></i>&nbsp;{{ estatusP }}
            </span>
          </div>

          <ng-template #elseBlock>
            <span style="font-weight: bold; color: #cd3d64">
              <i class="fas fa-times-circle"></i>&nbsp;{{ estatusP }}
            </span>
          </ng-template>
        </div>
        <!--Aquí puedes agregar el botón de pago solo si el estatus es "Activo" y el adeudo no es "$0.00"-->
        <div *ngIf="estatusP == 'Activo'; else suspendidoInfo">
          <div class="subtitulo mt-3">Adeudo:</div>
          <div class="adeudo">
            {{ adeudaP }}
          </div>
        </div>

        <ng-template #suspendidoInfo>
          <div class="subtitulo mt-3">Adeudo:</div>
          <div class="adeudo">${{ adeudaPadron | number: "1.2-2" }}</div>

          <div class="subtitulo mt-3">Reconexión:</div>
          <div class="adeudo">${{ reconexion | number: "1.2-2" }}</div>

          <div class="subtitulo mt-3">Total a pagar:</div>
          <div class="adeudo">${{ adeudaReconexTotal | number: "1.2-2" }}</div>
        </ng-template>

        <div class="subtitulo mt-3">Fecha Vencimiento:</div>
        <div class="res mb-5">
          {{ fechaVencP }}
        </div>
        <!--Mostrar el mensaje de advertencia si el estatus es "Suspendido"-->
        <div *ngIf="estatusP == 'Suspendido'" class="alert alert-warning mt-4">
          No es posible realizar el pago ni descargar el recibo de este contrato
          por este medio. Debe presentarse en las oficinas de la institución
          para regularizar su servicio y cubrir los cargos correspondientes.
        </div>

        <form
          #form
          action="https://www.adquiramexico.com.mx:443/mExpress/pago/avanzado"
          method="post"
        >
          <input type="hidden" name="importe" value="{{ monto }}" />
          <input type="hidden" name="referencia" value="{{ referencia }}" />
          <input
            type="hidden"
            name="urlretorno"
            value="https://restserver-smapac.herokuapp.com/api/orders/respuestaMovil.html"
          />
          <input type="hidden" name="idexpress" value="2576" />
          <input type="hidden" name="financiamiento" value="0" />
          <input type="hidden" name="plazos" value="" />
          <input type="hidden" name="mediospago" value="110000" />
          <input type="hidden" name="x" value="45" />
          <input type="hidden" name="y" value="25" />
          <input type="hidden" name="signature" value="{{ signature }}" />

          <button
            *ngIf="
              monto > 0 &&
              adeudaP != '$0.00' &&
              referencia != null &&
              referencia != '' &&
              estatusP == 'Activo'
            "
            class="btn-flutter mt-3"
            id="btnGenPago"
            style="font-weight: 600"
            (click)="form.submit()"
          >
            <span class="btnLabel">
              <i class="fas fa-credit-card" style="color: white"></i>
              &nbsp;
              <span style="color: white; font-weight: 800"> Pagar </span>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br />
